extends base.pug

block title 
    title About page
block style 
    style
        include ../static/style.css
        include ../static/about.css

block content 
    div.container
        h2.hh.item About Us
        p.p1 Honourable Dance Academy (HDA) aims in providing top quality dance instructions in an inspiring, enjoyable environment and best in class infrastructure. Our well qualified instructors strive to bring out the best in each and every student, irrespective of their experience in dance. We believe that dance provides students with confidence in themselves, satisfaction in their achievements, and inspiration to do and be their own personal best. Apart, we do provide separate dance classes for Special Needs children with an aim to include them with regular dance classes, when they will become capable.
        h3.hh2.item Our Goal:
        p.p2 The Dance Academy's goal is to not only give the finest possible dance training to all of our students, but to also instill in them a positive self-image which contributes to a happy and fulfilling livelihood. We do this by developing our students' minds and personalities through learning self-discipline, responsibility, mental alertness, leadership skills and cooperation while keeping the entire process fun! Our classes go beyond technique to develop hard-working, happy, and confident young people.At HDA, classes are perfect for all ages and dance levels. All new students are welcomed and made to feel comfortable. We use only age appropriate music, dance styles and costuming. All classes include proper technique, stretching, choreography and terminology. Class level is determined by the age of the student as well as their dance ability. We pride ourselves in offering not only the best instructions, but superior customer service. If you just want to dance for fun or make dance a career, HDA is the place to train!
        div.info.item
            h4 Our venue:
            |BD-82, Ground Floor, Salt Lake City, Kolkata : 700064
        
            

