extends base.pug

block title 
    title Services page
block style 
    style
        include ../static/style.css
        include ../static/class.css

block content 
    div.container
        div.a0.h2 Regular classes with Certification and membership program.
        div.a1.i 
            img(src="../static/red.png" alt="red boy").r
            p This plan is suitable for people who wish to avail below membership facilities and to get certificate on completion of defined number of classes upon giving examination. If candidate desires to opt out of the certification program, he/ahe  needs to submit written application.    
        div.a2.i
            img(src="../static/taka.png" alt="rupees").r
            p The candidate becomes a regular student. i.e., there is always a spot reserved for his/ her in class.
        div.a3.i 
            img(src="../static/day.png" alt="red woman").r
            p If by any chance he/she has to discontinue, then at the time of re-joining, no admission fee needs to be paid.
        div.a4.i 
            img(src="../static/cal.png" alt="calendar").r
            p One will be given particular day/days and time for a particular dance form and batch.
        div.a5.i 
            img(src="../static/dis.png" alt="discount").r
            p Classes cancelled by the Academy are adjusted.
        div.a6.i
            img(src="../static/per.png" alt="person1").r
            p Get discounts for workshops, accessories, goodies, single one-to-one classes at CDA, etc., Private Choreography, Hiring the Studio for private sessions, Dance and Music Videos preparation with choreography.
        div.a7.i1
            img(src="../static/per.png" alt="person2").r
            h2 Personal class
            p.c One can avail one to one regular dance classes for any of the dance forms that we do offer. For availing the same, kindly contact our front desk
        div.a8.i2
            img(src="../static/per.png" alt="person2").r
            h2 Pay Per Class
            p.c Under this plan, whenever you feel like to attend a class, you can come in and attend the class by paying daily fee/ one day fee for the class, provided the class is having free slots for further student. 