extends base.pug

block title 
    title
        Form submission status
block style 
    style 
        include ../static/style.css
        include ../static/stylesent.css
block content 
    div.boxit
        div.successnot 
            h2 Oh no. There seems to be some problems at our end.Please try again after sometime.