extends base.pug

block title 
    title submission status
block style 
    style 
        include ../static/style.css
        include ../static/stylesent.css
block content 
    div.box
        div.success 
            h2 Form accepted from our end.